# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

elpa/*
eln-cache/*
auto-save-list/*
.lsp-session-v1
project*
recentf
transient/*
.emacs-backup/*
eshell/*
private-snippets/*
tramp
bookmarks